<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.tiaweb.salud"
	version 	= "0.0.1">

	<name>Que Comemos?</name>

	<description>
		Informacio nutricional de los alimentos
	</description>

	<author href="http://www.tiaweb.cl/salud"
		email="mnovoa@tiaweb.cl">
		Manuel Novoa Olivares
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>

	<icon src="blurry.png" gap:role="default" />

    <gap:splash src="weirdo.png" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
